.month {
  font-size: 40px;
  margin: 20px 0px;
  padding-left: 0px;
  color: var(--mat-sys-on-surface);
  max-width: 1100px;
}
.month-birth-info {
  margin-left: 10px;
  font-size: 14px;
  color: var(--mat-sys-on-surface)
}
