<div class="gant">
  @for (info of infoGant(); track $index; let num = $index) {
    @for (item of info.gant; track item.label) {

      <span
        class="line"
        [ngStyle]="getGanttPosition(
          item.x1,
          item.x2,
          num,
          true
        )">
      </span>

      <span
        class="legend"
        [ngStyle]="getGanttPosition(
          item.x1,
          item.x2,
          num,
          false
        )">
        {{ item.label }}
      </span>
    }
  }
</div>