@if (videos().length > 0) {
  <h2 class="media-label">動画</h2>
  <app-grid
      [items]="videos()"
      [month]="month()"
      [tag]="tag()"
      [section]="section()"
      [mediaType]="'video'"
      [favorite]="favorite()"
  ></app-grid>
}

@if (photos().length > 0) {
  <h2 class="media-label">写真</h2>
  <app-grid
      [items]="photos()"
      [month]="month()"
      [tag]="tag()"
      [section]="section()"
      [mediaType]="'photo'"
      [favorite]="favorite()"
  ></app-grid>
}

@if (thumbnails().length > 0) {
  <app-grid
      [items]="thumbnails()"
      [month]="month()"
      [tag]="tag()"
      [section]="section()"
      [mediaType]="'thumbnail'"
      [favorite]="favorite()"
  ></app-grid>
}
